* {
  margin : 0;
  padding : 0;
  -webkit-box-sizeing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}
h1, h2, h3, h4, h5, h6, {margin-bottom : 6pt;}
ol, ul, dl {list-style-position: inside;}

html, body {
  padding:0;
  margin:0;
  width: 100%
  height:100%;
}

#parameters{
//  margin-top: 1em;
}
#wrapper {
  margin-right: 0;
  height:90em;
}
#container,
#sidebar {
  display:table-cell;
  vertical-align: top;
}

#sidebar{
  box-sizing: border-box;
  margin-left: 1em;
  margin-top:1em;
  width: 20em;
  height: 40em;
}
.mapContainer {
  align-content: center;
  width: 100%;
  margin-top: 1em;
  margin-left:1em;
  min-height: 800px;
}
label{
  ;
}
input{
  margin: 0.5em;
  font-size: medium;
}
input[type=text]{
  width:8em;
}
input[type=range]{
  width:8em;
}
input.jscolor{
  width:6em;
}
#renderCSV{
  font-size: large;
  margin-top: 0.5em;
}
#titleID,#subtitleID,#topValueID{
  width: 12em;
}
#maxValueID{

}

.dataGroup{
  height: 30em;
}
.dataDiv{
  position: relative;
}

#dataContent{
  position: relative;
  resize: none;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: large;
  overflow-y: scroll;
  overflow-x: scroll;
}
#renderCSV{
  font-size: large;
}

/* For Tab control */
.tabs-menu {
  height: 2em;
  float: left;
  clear: both;
}

.tabs-menu li {
  height: 2em;
  line-height: 2em;
  float: left;
  margin-right: 1em;
  background-color: #ccc;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5;
}

.tabs-menu li a {
  padding: 1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.tabs-menu .current a {
  color: #2e7da3;
}

.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  margin-bottom: 1em;
  width: auto;
}

.tab-content {
  width: 15em;
  padding: 1em;
  display: none;
}

#tab-1{
  display: block;
}
/*Tab control end here*/

