* {
  margin : 0;
  padding : 0;
  -webkit-box-sizeing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}
h1, h2, h3, h4, h5, h6, {margin-bottom : 6pt;}
ol, ul, dl {list-style-position: inside;}

* {
  -webkit-user-select : none;
  -khtml-user-select : none;
  -moz-user-select : -moz-none;
  -o-user-select : none;
  -ms-user-select : none;
  user-slect : none;

  -webkit-user-drag : none;
  -moz-user-drag : none;
  -user-drag : none;

  -webkit-tap-highlight-color : transparent;
  -webkit-touch-callout : none;
}

html, body {
  padding:0;
  margin:0;
  width: 100%
  height:100%;
}

#wrapper {
  margin-right: 0;
}
#container,
#sidebar {
  float:left;
}

#sidebar{
  box-sizing: border-box;
  margin-left: 2em;
  margin-top:5em;
  width: 20em;
  height: 100%;
}
#container {
  width: 75em;
  margin-top: 2em;
  margin-left:5em;
  min-height: 800px;
}
input{
  margin: 1em;
  width: 15em;
}

.dataGroup{
  height: 30em;
}
.dataDiv{
  position: relative;
}
.dataPre {
/*  margin: 0.5em;
  border: thin;
  border-style: groove;
  border-color: darkgray;
*/
  height: 95%;

}
#dataContent{
  margin: 0em;
  height: 100%;
  font-size: large;
  overflow-y: scroll;
}
#renderCSV{
  font-size: large;
}

